@keyframes scale-up {
  0% {
    transform: scale(0.5);
  }
  to {
    transform: scale(1);
  }
}
.build-doctor-website-pharmacy-icon1 {
  position: absolute;
  bottom: -4423px;
  left: -104px;
  width: 1920px;
  height: 5535px;
  object-fit: cover;
  display: none;
}
.main-bg1 {
  position: absolute;
  top: 0;
  left: 0;
  background: radial-gradient(50% 50%at 50% 50%, #fff, #e8ffdb);
  border: 1px solid var(--color-dimgray);
  box-sizing: border-box;
  width: 1936px;
  height: 1443px;
}
.doctor-bg1,
.service-section-bg1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1920px;
  height: 729px;
}
.doctor-bg1 {
  left: 24px;
  box-shadow: 6px 9px 23px rgba(0, 0, 0, 0.16);
  border-radius: var(--br-14xl);
  background-color: var(--color-white);
  width: 162px;
  height: 151px;
}
.doctor-icon1 {
  position: absolute;
  top: 23px;
  left: 52px;
  width: 106px;
  height: 106px;
  object-fit: cover;
}
.doctor-information,
.doctor-name {
  position: absolute;
  top: 179px;
  left: 0;
  font-size: var(--font-size-11xl);
  font-family: var(--font-montserrat);
  color: var(--color-black);
  text-align: center;
}
.doctor-information {
  top: 233px;
  left: 8px;
  font-size: var(--font-size-xl);
}
.doctor-11,
.doctor-21,
.doctor-31 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 340px;
  left: 228px;
  width: 210px;
  height: 257px;
}
.doctor-11:hover,
.doctor-21:hover,
.doctor-31:hover,
.home1:hover,
.our-services1:hover {
  animation: 1s ease 0s 1 normal none scale-up;
  opacity: 1;
}
.doctor-21,
.doctor-31 {
  left: 853px;
}
.doctor-31 {
  left: 1478px;
}
.we-found-the {
  position: absolute;
  top: 127px;
  left: 221px;
}
.how-to-work-section1 {
  position: absolute;
  top: 290px;
  left: 0;
  width: 1920px;
  height: 729px;
}
.menu-box-bg1 {
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  width: 1208px;
}
.span1 {
  color: var(--color-dimgray);
}
.doctor1 {
  color: var(--color-darkslateblue);
}
.v-doctor2 {
  position: absolute;
  top: calc(50% - 25px);
  left: calc(50% - 133px);
  font-weight: 800;
}
.logo2 {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  width: 440px;
}
.about1,
.department1,
.home1,
.our-services1 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: calc(50% - 18px);
  left: calc(50% - 224px);
  font-size: var(--font-size-11xl);
  font-family: var(--font-montserrat);
  color: var(--color-forestgreen);
  text-align: left;
  display: inline-block;
}
.about1,
.department1,
.our-services1 {
  left: calc(50% - 70px);
}
.about1,
.department1 {
  left: calc(50% + 473px);
}
.about1:hover,
.department1:hover {
  animation: 0.5s ease 0s 1 normal none scale-up;
  opacity: 1;
}
.department1 {
  left: calc(50% + 208px);
}
.book-an1 {
  margin: 0;
}
.book-an-appointment-container1 {
  position: absolute;
  top: 9px;
  left: 34px;
  font-size: var(--font-size-6xl);
  font-family: var(--font-montserrat);
  color: var(--color-white);
  text-align: center;
}
.book-an-appointment3 {
  cursor: pointer;
  border: 1px solid var(--color-dimgray);
  padding: 0;
  background-color: var(--color-forestgreen);
  position: absolute;
  top: calc(50% - 39px);
  right: 68px;
  border-radius: var(--br-7xl);
  box-sizing: border-box;
  width: 260px;
  height: 78px;
}
.book-an-appointment3:hover {
  animation: 1s ease 0s 1 normal none scale-up;
  opacity: 1;
}
.logo3,
.navigation-bar1 {
  position: absolute;
  top: 0;
  height: 146px;
  font-size: var(--font-size-31xl);
}
.navigation-bar1 {
  left: 0;
  width: 1920px;
  color: var(--color-forestgreen);
}
.logo3 {
  width: calc(100% - 8px);
  right: 0;
  left: 8px;
}
.designed-by-afthab1,
.v-doctor-all1 {
  position: absolute;
  bottom: 0;
  left: 0;
}
.designed-by-afthab1 {
  bottom: 40px;
}
.logo-group {
  position: relative;
  width: 448px;
  height: 389px;
  margin-top: 8px;
  font-size: var(--font-size-6xl);
}
.specialities3 {
  position: absolute;
  top: 0;
  left: 0;
  font-size: var(--font-size-11xl);
  letter-spacing: -0.24px;
  font-weight: 600;
}
.keyboard-double-arrow-right-24-icon10 {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  max-height: 100%;
  width: 38px;
  object-fit: cover;
}
.neurology2 {
  position: absolute;
  top: calc(50% - 12px);
  right: -1px;
}
.cardiology4,
.nuerology2 {
  position: absolute;
  left: 0;
  height: 38px;
}
.nuerology2 {
  top: calc(50% - 78px);
  width: 146px;
}
.cardiology4 {
  width: calc(100% - 24px);
  top: calc(50% - 33px);
  right: 24px;
}
.dentist4 {
  top: calc(50% + 12px);
  width: 112px;
}
.dentist4,
.ortho2,
.urology3 {
  position: absolute;
  left: 0;
  height: 38px;
}
.urology3 {
  top: calc(50% + 56px);
  width: 116px;
}
.ortho2 {
  width: calc(100% - 18px);
  right: 18px;
  bottom: 0;
}
.specialities2 {
  position: relative;
  width: 172px;
  height: 278px;
  margin-top: 7px;
}
.cardiology6,
.nuerology3 {
  position: absolute;
  left: 0;
  height: 38px;
}
.nuerology3 {
  top: calc(50% - 78px);
  width: 116px;
}
.cardiology6 {
  width: calc(100% - 6px);
  top: calc(50% - 33px);
  right: 6px;
}
.dentist6 {
  width: 100%;
  top: calc(50% + 12px);
  right: 0;
}
.dentist6,
.ortho3,
.urology5 {
  position: absolute;
  left: 0;
  height: 38px;
}
.urology5 {
  top: calc(50% + 56px);
  width: 74px;
}
.ortho3 {
  width: calc(100% - 2px);
  right: 2px;
  bottom: 0;
}
.services2 {
  position: relative;
  width: 146px;
  height: 278px;
  margin-top: 7px;
  margin-left: 160px;
}
.contact-us1 {
  position: absolute;
  top: 0;
  left: 11px;
  font-size: var(--font-size-11xl);
  font-weight: 600;
}
.call-24dp-ffffff-fill0-wght400-icon1,
.location-on-24dp-ffffff-fill0-icon1 {
  position: absolute;
  top: calc(50% - 52px);
  left: 0;
  width: 42px;
  height: 42px;
  object-fit: cover;
}
.call-24dp-ffffff-fill0-wght400-icon1 {
  top: calc(50% + 10px);
}
.mail-24dp-ffffff-fill0-wght400-icon1 {
  position: absolute;
  bottom: 0;
  left: 5px;
  width: 37px;
  height: 37px;
  object-fit: cover;
}
.local-streetkerala-6831061 {
  top: calc(50% - 43px);
  right: -1px;
}
.div1,
.local-streetkerala-6831061,
.supportvdoctorcom1 {
  position: absolute;
  font-weight: 600;
}
.div1 {
  top: calc(50% + 19px);
  left: calc(50% - 104.5px);
}
.supportvdoctorcom1 {
  text-decoration: none;
  right: 25px;
  bottom: 8px;
  color: inherit;
}
.contact-us-group {
  position: relative;
  width: 307px;
  height: 218px;
  margin-bottom: 49px;
  margin-left: 130px;
}
.footer-section1 {
  position: absolute;
  bottom: -6px;
  left: 0;
  background-color: var(--color-steelblue);
  width: 1920px;
  height: 424px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 var(--padding-260xl) var(--padding-16xl) var(--padding-91xl);
  box-sizing: border-box;
  gap: var(--gap-37xl);
  font-size: var(--font-size-xl);
  color: var(--color-white);
}
.result-page {
  position: relative;
  background: radial-gradient(
    50% 50%at 50% 50%,
    #fff,
    rgba(180, 222, 182, 0.25) 41.84%,
    rgba(76, 175, 80, 0.12)
  );
  width: 100%;
  height: 1437px;
  text-align: center;
  font-size: var(--font-size-51xl);
  color: var(--color-black);
  font-family: var(--font-montserrat);
}
